<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsy.target.hideapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!--<category android:name="android.intent.category.LAUNCHER" />-->

                <!--<data-->
                    <!--android:scheme="content"-->
                    <!--android:host="com.lsy.target.hideapp"-->
                    <!--android:port="8080"-->
                    <!--android:mimeType="text/plain"/>-->
                <!--android:pathPattern=".*pdf"-->

                <action android:name="customer_action_here" />
                <category android:name="customer_category_here" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>